<%= form_for(@related_product) do |f| %>
  <% if @related_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@related_product.errors.count, "error") %> prohibited this related_product from being saved:</h2>

      <ul>
      <% @related_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :product_id, :hidden => true %><br />
    <%= f.number_field :product_id, :value => params[:id], :readOnly => true, :hidden => true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
