<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% content_for :admin do%>
<div id="lastViewContainer">
	<ul id="navlist">
		<li class="menu"><p> Admin </p></li>
		<li>
			<a href="/products">Manage Products</a>
		</li>
		<li>
			<a href="/related_products">Manage Related</a>
		</li>
		<li>
			<a href="/categories">Manage Categories</a>
		</li>
		<li>
			<a href="/accounts">Manage Accounts</a>
		</li>
	</ul>
</div>
<% end %>
<p>
  <b>Name:</b>
  <%= @related_product.name %>
</p>

<p>
  <b>Image url:</b>
  <%= image_tag(@related_product.image_url) %>
</p>

<p>
  <b>Product:</b>
  <%= @related_product.product_id %>
</p>


<%= link_to image_tag('/Images/icons/pencil.png'), edit_related_product_path(related_product) %>
<%= link_to image_tag('/Images/icons/pencil.png'), related_products_path %>
