<% content_for :admin do%>
<div id="lastViewContainer">
	<ul id="navlist">
		<li class="menu"><p> Admin </p></li>
		<li>
			<a href="/products">Manage Products</a>
		</li>
		<li>
			<a href="/related_products">Manage Related</a>
		</li>
		<li class="popupmenuprod">
			<a href="/categories">Manage Categories</a>
			<ul id="submenuprod">
				<li class="init"><%= link_to 'New Category', new_category_path %></li>
			</ul>
		</li>
		<li>
			<a href="/accounts">Manage Accounts</a>
		</li>
	</ul>
</div>
<% end %>

<h1>Category Management</h1>

<table class="cat_list">
  <tr class="list_line_even">
    <th>Name</th>
    <th>Management</th>
  </tr>

<% @categories.each do |category| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
    	<%= category.name %>
    </td>
    <td class="list_actions">
    	<%= link_to image_tag('/Images/icons/zoom.png'), category %>
    	<%= link_to image_tag('/Images/icons/pencil.png'), edit_category_path(category) %> 
    	<%= link_to image_tag('/Images/icons/delete.png'), category, confirm: "Are you sure you want to delete #{category.name} from the store?", method: :delete %>
    </td>
  </tr>
<% end %>
</table>
