<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  
  <div class="field">
  		<%= f.label "Add an image to product" %><br />
    	<%= text_field_tag 'newimage' %>
  </div>
  <% if params[:category_id].present? %>
  <div class="field">
  		<%= f.label "Category" %><br />
    	<%= f.text_field :category_id, :value => params[:category_id], :readonly => true%>
  </div>
  <% else %>
  	<div class="field">
  		<%= f.label "Category" %><br />
    	<%= text_field_tag :category_id %>
  	</div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
