<%= form_for(@product, :html => {:multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  
  <div class="field">
  	<%= f.label "Listing all images for product"%><br />	
	  <% @images.each do |image| %>
	  	<%= image_tag(image.url)%>
	  <% end %> 		
  </div>
  <div class="field">
  		<%= f.label "Add a remote Image to product" %><br />
    	<%= text_field_tag 'newimage' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
