<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<title> FooBar Online Store </title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= javascript_include_tag "/JS/jquery-1.6.4.min.js" %>
  	<%= javascript_include_tag "/JS/jquery.tools.min.js" %>
  	<%= javascript_include_tag "/JS/jquery.cookie.js" %>
  	<%= javascript_include_tag "/JS/jquery.dataTables.min.js" %>
  	<%= javascript_include_tag "/JS/backoffice.js" %>
  	<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div id="logo">
					<a href="index.html"></a>
				</div>
				<div id="loginContainer">	
				</div>
			</div>
		
			<div id="navContainer">
				<ul id="navlist">
					<li class="menu"><p> Menu </p></li>
					<li>
						<a id="current" href="/index.html">Home</a>
					</li>
					<li class = "popupmenu">
						<a href="/categorie.html">Categories</a>
						<ul id="submenu">
							<li class="init"> </li>
						</ul>
					</li>
				</ul>
				<% if !@current_user.nil? %>
					<% if @current_user.is_admin? %>
						<%= yield :admin %>
					<% end %>
				<% end %>
			</div>
			
			<div class="mainApp">
				<%= yield %>
			</div>
			<div id="footer">
				<p><a href="aboutUs.html">About Us</a> - &copy; Hugo Tavares, n&ordm; 23305 &amp; Paulo Granja, n&ordm; 31952 </p>
				<a href="http://validator.w3.org/check/referer">
				<img src="http://www.w3.org/Icons/valid-xhtml11" alt="valid-xhtml11"/></a>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img src=" http://jigsaw.w3.org/css-validator/images/vcss" alt="vcss"/></a>
			</div>
		</div>
	</body>
</html>
