<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<title> FooBar Online Store </title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= javascript_include_tag "/JS/jquery-1.6.4.min.js" %>
  	<%= javascript_include_tag "/JS/index.js" %>
  	<%= javascript_include_tag "/JS/jquery.cookie.js" %>
  	<%= javascript_include_tag "/JS/jquery.dataTables.min.js" %>
  	<%= csrf_meta_tags %>
	<!--<link rel="stylesheet" type="text/css" href="/FoobarStore/app/assets/stylesheets/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="CSS/indexPrint.css" media="print" />
	<script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js" type="text/javascript"></script>
	<script src="JS/jquery.cookie.js" type="text/javascript"></script>
	<script src="JS/index.js" type="text/javascript"></script>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />-->
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div id="logo">
					<a href="index.html"></a>
				</div>
				<div id="loginContainer">
					<form action="/login">
						<input class="userName" name="user" type="text" value="User Name..."/><br>
						<input class="userPass" name="pass" type="password" value="Password..."/>
						<input class="logInButton" type="submit" value=""/>
					</form>	
				</div>
				<div id="searchBar">
					<form action="categorie.html">
						<div>
							<input id="search" type="text" value="Search keywords..."/><br>
							<input class ="searchButton" type="submit" value=""/>
						</div>
					</form>
				</div>
			</div>
		
			<div id="navContainer">
				<ul id="navlist">
					<li class="menu"><p> Menu </p></li>
					<li>
						<a id="current" href="#">Home</a>
					</li>
					<li class = "popupmenu">
						<a href="#">Categories</a>
						<ul id="submenu">
							<li class="init"> </li>
						</ul>
					</li>
				</ul>
				<% if Account.is_admin? %>
					<%= yield :admin %>
				<% end %>
			</div>
			
			<div class="mainApp">
				<%= yield %>
			</div>
			<div id="footer">
				<p><a href="aboutUs.html">About Us</a> - &copy; Hugo Tavares, n&ordm; 23305 &amp; Paulo Granja, n&ordm; 31952 </p>
				<a href="http://validator.w3.org/check/referer">
				<img src="http://www.w3.org/Icons/valid-xhtml11" alt="valid-xhtml11"/></a>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img src=" http://jigsaw.w3.org/css-validator/images/vcss" alt="vcss"/></a>
				
				<div id="pagStyle">
					<p>Themes: </p> 
						<select id="styleSelect">
							<option value="1">Orange</option>
							<option value="2">Bordeaux</option>
						</select>
				</div>
			</div>
		</div>
	</body>
</html>
