<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.firstname %></td>
    <td><%= account.lastname %></td>
    <td><%= account.address %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
